/* src/components/Header.css */

/* Fondo del header con gris oscuro */
header {
  background-color: #333333; /* Gris oscuro */
  padding: 1rem 2rem;
  width: 100vw;
  box-sizing: border-box; 
}

/* Flexbox para alinear los elementos */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Lista sin margen y con display flex */
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Espacio entre los enlaces de navegación */
.nav-links {
  gap: 2rem;
 
}

/* Alineación y espacio entre los ítems de autenticación */
.auth-links {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
  color: antiquewhite;
  
}

.msj-bienbevida {
  color: aliceblue;
}

/* Estilos para los ítems sin bordes ni sombras */
li {
  margin: 0;
}

/* Color blanco puro para los enlaces */
a {
  color: #FFFFFF; /* Blanco */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

/* Estilo para los iconos de autenticación */
.auth-icon {
  font-size: 1.5rem; /* Tamaño más grande para los iconos */
  color: #FFFFFF; /* Blanco para contraste */
  cursor: pointer;
  transition: color 0.3s;
}

/* Efecto hover: cambio a gris claro */
.auth-icon:hover {
  color: #A9A9A9; /* Gris claro */
}

/* Enlaces hover con cambio a gris claro */
a:hover {
  color: #A9A9A9; /* Gris claro */
}
