.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; /* Ajusta el ancho del contenedor principal */
  margin: 2rem 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para la sección del banner */
.home-banner {
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  height: 30rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; /* Espacio entre el banner y el carrusel */
  text-align: center;
}

.banner-content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.banner-title {
  font-size: 2.5rem;
  color: #333;
}

.banner-description {
  font-size: 1.2rem;
  color: #666;
  margin-top: 1rem;
}

/* Estilo para la sección del carrusel */
.home-carousel {
  width: 100%; /* Ancho total para el carrusel */
  padding: 2rem 0;
  background-color: #ffffff;
}

.gallery-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

.carousel-image {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

/* Estilo para la sección de introducción */
.home-intro {
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  padding: 2rem;
  background-color: #f8f8f8;
  text-align: center;
}

.intro-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.intro-description {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 1rem auto;
  line-height: 1.6;
}
